@model ProductListViewModel

    <h1>@Model.ProductWDiscount</h1>

    <div class="row">
        @foreach (var product in Model.Products)
        {
            <partial name="_Product" model="product" />
        }

    </div>
