@model HomeViewModel

<partial name="_Wig" />


 
    <h3 class="text-success">Products on Sale</h3>

    <div class="row">
        @foreach (var Product in Model.ProductWDiscount)
        {
            <partial name="_Product" model="Product" />
        }
    </div>
  