@model HomeViewModel


<partial name="_Wig" />

<h2>Products on Discount</h2>

<div class="row">
    @foreach(var Product in Model.ProductWDiscount)
    {
        <partial name="_Product" model="Product" />
    }
</div>
