@model HomeViewModel

<partial name="_Wig" />


 
    <h4 class="text-white">Wigs on Sale!</h4>

    <div class="row">
        @foreach (var Product in Model.ProductWDiscount)
        {
            <partial name="_Product" model="Product" />
        }
    </div>
  