
@*<div class="row carousel-holder">
    <div class="col-md-12">
        <div id="images" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#images" data-slide-to="0" class="active"></li>
                <li data-target="#images" data-slide-to="1"></li>
                <li data-target="#images" data-slide-to="2"></li>
                <li data-target="#images" data-slide-to="3"></li>
                <li data-target="#images" data-slide-to="4"></li>
                <li data-target="#images" data-slide-to="5"></li>
                <li data-target="#images" data-slide-to="6"></li>
            </ul>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="/Images/BrownHair.jpg" alt="Brown Hair">
                </div>
                <div class="item">
                    <img class="slide-image" src="/Images/BlondeHair.jpg" alt="Blonde Hair">
                </div>
                <div class="item">
                    <img class="slide-image" src="/Images/Curly.jpg" alt=" Curly">
                </div>
                <div class="item">
                    <img class="slide-image" src="/Images/Kinky.jpg" alt="Kinky">
                </div>
                <div class="carousel-item">
                    <img src="/Images/LongBlonde.jpg" alt="Long Blonde">
                </div>
                <div class="item">
                    <img class="slide-image" src="/Images/Synthetic.jpg" alt="Synthetic">
                </div>
            </div>
            <a class="left carousel-control" href="#Images" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#Images" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>*@
