@model IEnumerable<Supplier>

<li class="dropdown">
   
    <li class="dropdown-menu">
        @foreach(var supplier in Model)
        {
            
                <a asp-controller="Product" asp-action="List" asp-route-supplier="@supplier.SupplierName">@supplier.SupplierName</a>
            
        }
        <li class="divider"></li>
        
            <a asp-controller="Product" asp-action="List" asp-route-Supplier=""> All products</a>
        
        
  


